In [1]:
import pandas as pd

In [4]:
quiz = pd.read_csv("./bbb.csv")

In [15]:
correct = quiz[(quiz.A=="Matilda") & (quiz.B==16) & (quiz.C == "J K Rowling") & (quiz.D == 5) & (quiz.E == "Anne Frank")]

In [17]:
len(correct)

39

In [18]:
correct

                    Email Address        A   B            C  D           E
2        reemamishal123@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
3           sammohan444@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
5             varshi.23@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
6           schodavarpu@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
8         09bit041@nirmauni.ac.in  Matilda  16  J K Rowling  5  Anne Frank
9       sharanyavinod90@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
10  sindhujavadiyampeta@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
14            meera5495@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
24        shreejaya2005@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
25             sb041286@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
26        pratikdas1989@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
27         msshravanthi@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
28           rajdipsura@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
29           rajdipsura@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
30       nitinpadr.1993@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
31     kulkarni.ruturaj@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
34         shivajimurmu@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
35      archu.carpediem@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
36             leahverg@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
38         vinaysshenoy@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
40        neha.saleem89@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
41            mahe19902@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
42    sambit.satpathy01@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
44            sujatha66@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
45            sujatha66@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
47            preethi52@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
49      ganesh.mahidhar@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
50        rashmi.canchi@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
51            meghnakmr@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
53         morosunayana@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
55          rahilmaster@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
56    apoorva.ksrinivas@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
57              m.abhi2@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
58          el10savio96@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
60          srideviavan@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
61             hprinesh@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
62            yamini114@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
64    archanadanappaidc@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
69         pgaravindhsf@gmail.com  Matilda  16  J K Rowling  5  Anne Frank

In [21]:
correct_nodup = correct.drop_duplicates()

In [22]:
len(correct)

39

In [31]:
l_corr_ndup = len(correct_nodup)

In [25]:
correct_nodup.to_csv("./correct_nodup.csv")

In [26]:
correct_nodup

                    Email Address        A   B            C  D           E
2        reemamishal123@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
3           sammohan444@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
5             varshi.23@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
6           schodavarpu@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
8         09bit041@nirmauni.ac.in  Matilda  16  J K Rowling  5  Anne Frank
9       sharanyavinod90@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
10  sindhujavadiyampeta@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
14            meera5495@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
24        shreejaya2005@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
25             sb041286@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
26        pratikdas1989@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
27         msshravanthi@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
28           rajdipsura@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
30       nitinpadr.1993@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
31     kulkarni.ruturaj@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
34         shivajimurmu@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
35      archu.carpediem@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
36             leahverg@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
38         vinaysshenoy@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
40        neha.saleem89@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
41            mahe19902@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
42    sambit.satpathy01@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
44            sujatha66@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
47            preethi52@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
49      ganesh.mahidhar@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
50        rashmi.canchi@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
51            meghnakmr@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
53         morosunayana@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
55          rahilmaster@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
56    apoorva.ksrinivas@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
57              m.abhi2@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
58          el10savio96@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
60          srideviavan@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
61             hprinesh@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
62            yamini114@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
64    archanadanappaidc@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
69         pgaravindhsf@gmail.com  Matilda  16  J K Rowling  5  Anne Frank

In [34]:
sample1 = correct_nodup.sample(n=int(l_corr_ndup/2))

In [36]:
sample2 = correct_nodup.sample(n=int(len(sample1)/2))

In [37]:
sample3 = correct_nodup.sample(n=int(len(sample2)/2))

In [38]:
sample3

                  Email Address        A   B            C  D           E
50      rashmi.canchi@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
64  archanadanappaidc@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
58        el10savio96@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
28         rajdipsura@gmail.com  Matilda  16  J K Rowling  5  Anne Frank

In [39]:
sample4 = correct_nodup.sample(n=int(len(sample3)/2))

In [40]:
sample4

                 Email Address        A   B            C  D           E
31  kulkarni.ruturaj@gmail.com  Matilda  16  J K Rowling  5  Anne Frank
50     rashmi.canchi@gmail.com  Matilda  16  J K Rowling  5  Anne Frank

In [41]:
final_winner = correct_nodup.sample(n=int(len(sample4)/2))

# FINAL WINNER

In [42]:
final_winner

              Email Address        A   B            C  D           E
24  shreejaya2005@gmail.com  Matilda  16  J K Rowling  5  Anne Frank

## CONGRATS :)  shreejaya2005@gmail.com